/* * {
  margin: 0;
  box-sizing: border-box;
  outline: none;
}

a {
  text-decoration: none;
  color: white;
  cursor: pointer;
}

ul {
  list-style: none;
}

.root {
  overflow: hidden;
}
.App {
  display: flex;
  flex-flow: column wrap;
  height: 100vh;
  overflow: hidden;
}

.transparent {
  visibility: hidden;
}

.header {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  background: grey;
}

.body {
  flex: 1;
  display: flex;
  flex-flow: column wrap;

  padding: 20px 150px;
  background: url("https://farm5.staticflickr.com/4062/5169154193_4b8a5a7a80_b.jpg")
    no-repeat;
  background-size: 100% 100%;
}

.logo {
  flex: 1.5;
  font-size: 30px;
}

.navBar {
  flex: 1;
  font-size: 20px;
}

.navBar ul {
  display: flex;
  justify-content: center;
  align-items: center;
}

.navBar ul li {
  flex: 1;
 
  display: flex;
  justify-content: center;
}



.red-text {
  color: red;
}
.card {
  border-radius: 7px;
  border: 1px solid black;
  padding: 15px;
  background: lightgoldenrodyellow;
}

.container {
  padding: 10px;
  display: flex;
  flex-flow: row wrap;
}

.summary {
  flex: 1;
  padding-right: 50px;
}

.summary a {
  color: blue;
}

.notifications {
  flex: 1;
}

.submit {
  position: relative;
  left: 50%;
  transform: translate(-50%, 0);
  padding: 10px 20px;
  text-transform: uppercase;
}

.form input,
textarea {
  margin: 10px 0;
  padding: 10px;
  width: 100%;
  resize: none;
  font-family: "Courier New", Courier, monospace;
  font-size: 15px;
}

.small {
  width: 50%;
  position: relative;
  left: 50%;
  top: 10%;
  transform: translate(-50%, 0);
}

.titleCenter {
  text-align: center;
  font-size: 25px;
  color: white;
  text-transform: uppercase;
}

.spaceBottom {
  margin-bottom: 20px;
}

.timeStamp {
  color: gray;
}

.pagination {
  position: absolute;
  bottom: 10vh;
  left: 50%;
  transform: translate(-50%, 0);
}

.pagination button {
  padding: 5px 10px;
  font-size: 15px;
}

.linkColor {
  color: blue;
}

@media only screen and (max-width: 768px) {
  .App {
    overflow: auto;
  }
} */

.profileInitial {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background: purple;
  display: flex;
  align-items: center;
  justify-content: center;
}

textarea {
  resize: none;
}

.App {
  height: 100vh;
  display: flex;
  flex-flow: column;
  /* overflow: hidden */
}

.body {
  background: url("https://farm5.staticflickr.com/4062/5169154193_4b8a5a7a80_b.jpg")
    no-repeat;
  background-size: 100% 100%;
}
.card-body {
  background: lightgoldenrodyellow;
}

.card {
  background: transparent;
}

.card.summary {
  height: 30%;
}

.form {
  width: 70%;
  position: relative;
  left: 50%;
  transform: translate(-50%, 0);
}

.signIn.form {
  width: 30%;
}

.submit {
  margin-top: 16px;
  margin-bottom: 0;
  position: relative;
  left: 50%;
  transform: translate(-50%, 0);
}

.pagination {
  position: fixed;
  left: 50%;
  transform: translate(-50%, 0);
  bottom: 10px;
}

@media (min-width: 992px) {
  .container {
    max-width: 60%;
  }
}

@media (max-width: 768px) {
  .App {
    height: 100%;
  }
  .signIn.form {
    width: 100vw;
  }
}

@media (max-width: 576px) {
  .display-4 {
    transform: scale(0.5);
  }
  .nav {
    flex-flow: column;
  }
}
